@color-t: #59a6fd;
@color-tt: #8c2788;
/* 字体主色，主要用于一级标题和正文 @color-default  */
@color-d: #3d4d65;
/* 字体辅色，主要用于二级标题 @color-subsidiary  */
@color-s: #828ea6;
/* 主要用于边框颜色 @color-border  */
@color-b: #dfe3e9;
/* 主要用于成功或正确状态 @color-right  */
@color-r: #1fa103;
/* 主要用于错误或警告状态 @color-warning  */
@color-w: #ee4973;
@color-bg:#eff2f8;
@color-p: #C0C4CC;
/* 边框 */
@border-d: 1px solid #00ff00;
@shadow-d: 0px 0px 40px 0px rgba(145, 157, 169, 0.23);
@imgUrl: '~@/assets/img';


.flex-between {
  display: flex;
  justify-content: space-between;
}

.common-card {
  background-color: #fff;
  box-shadow: @shadow-d;
  border-radius: 5px;
}
.common-table{
  margin-top: 20px;
  width: 100%;
  background: #fff;
  border-collapse: collapse;
  border-spacing: 0;
  th,td{
    border:1px solid @color-b;
    text-align: center;
    font-size: 14px;
    height: 36px;
    padding: 5px;
    color: @color-s;
    &.table-order {
      text-align: left;
      padding-left: 10px;
      width: 60px;
    }
  }
  th{
    color: @color-d;
    border-right: 0;
    background: @color-bg;
    position: relative;
    font-weight: 400;
    &::after{
      content:'';
      width: 1px;
      height: 20px;
      background: #cbd3e0;
      position: absolute;
      right: -0.5px;
      top:50%;
      transform: translateY(-50%);
    }
    &:last-child{
      border-right:1px solid @color-b;
      &::after{
        display: none;
      }
    }
  }
  .text-left{
    text-align: left;
  }
  a{
    color: @color-t;
  }
}